<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body style="height:100%">
  <div id='subscribe-bg' style="height: 100%;
                                background-color: #ffffff">
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <div id="pricing-table" style="height: 80%;
                                  width: 90%;
                                  position: relative;
                                  top:15%;
                                  left:5%;">
    <div style="
                position: relative;
                text-align: center;">
      <h1 class="title is-2" style="color: #27445a">
        Make Donation to Vision Zero Team
      </h1>
      <p class="subtitle is-5" style="color: #27445a"> To support us, please enter the donation you like to make. Any amount is appreciated! </p>
      
    </div>
    <div style="height:50%;
                position: relative;
                top: 5%;
                text-align:center">
      
      <form action="/checkout/donation" method="POST">
        <div style="margin: 1em;">
          <button class="button" name="amount" value="1000">$10.00</button>
          <button class="button" name="amount" value="2000">$20.00</button>
          <button class="button" name="amount" value="3000">$30.00</button>
          <button class="button" name="amount" value="4000">$40.00</button>
          <button class="button" name="amount" value="5000">$50.00</button>
          <button class="button" name="amount" value="6000">$60.00</button>
        </div>
        <p>or enter an amount</p>
        <div class="input-group input-group-lg" style="margin-top:1em">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" name="amount"  min="0" max="12000" aria-label="Amount (to the nearest dollar)" placeholder="Enter an Amount. E.g. $12.34">
        </div>
        <button class="button" 
                  style="
                        margin-top:2em;
                        background-color: #3F8ABE; 
                        width: 20%;
                        color: #FFFFFF"
                  formaction="/checkout/premium">
                  Donate Now
        </button>
      </form>
    </div>
    <div  style="position:relative; width: 50%; text-align:left; background-color:#f1f3f5; left:25%; padding:1em;">
      <div class="content is-small">
        <h1 class="title is-6">Where your donation goes</h1>
        <p><strong>Technology: </strong> Servers, API requests, maintenance, development. Vision Zero website runs on a fraction of what other top websites spend.</p>  
        <p><strong>People and Projects: </strong> The other top websites have thousands of employees. We have only 3 staff and contractors to support a wide variety of projects, making your donation a great investment in a highly-efficient not-for-profit organization.</p>
      </div>
    </div>
    
    
  </div>
  </div>
</body>

<%- include('../partials/footer') %>
</html>
