<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
      img.rounded-corners {border-radius: 50px;}
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>


 
  <section class="'hero-main hero" style="background-color:#EEF2FF;">
    <div class="hero-body">
      <div class="'container">
        <div class="columns">
          <div class="column is-half">
            <div style="position: relative; top:15%; left:25%">
              <h1 class="title is-size-1 "> Safe </h1>
              <h1 class="title is-size-1 "> Traveling</h1>
              <h1 class="title is-size-1"> Start Now</h1>

              <div class="field is-grouped">
                <div class="buttons">
                  <a class="button button-white is-large is-dangerous is-rounded" href="/sign-up"> Sign Up</a>
                  <a class="button button-white is-large is-outlined is-success is-rounded is-light" sytle="background-color: #0a0a23;" href="/sign-in"> Login </a>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <figure class="image is-4by3">

              <img src="../../../static/main_page_map.png" style="width: 800px; height:auto; border: 2px solid #ddd;" class="rounded-corners">

            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="columns is-variable is-8">
      <div class="column is-full-height">
        <div class="card" style="background-color:#F7F7F7" >
          <p class="card-header-icon">
            <figure class="image is 12x12" style="position: relative; left:10%">

              <img src="../../../static/car_icon.png" style="width: 75px; height:auto;">

            </figure>
          </p>
      
          <div class="card-content">
            <h1 class="title is-size-5">
              Daily Safe Travel Tips
            </h1>
            <div class="block"></div>
            <p class="subtitle" style="color:#858482">
              > 50% of accident-caused pedestrians' injuries happens in intersections. 
            </p>
            <br/>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card is-full-height" style="background-color:#F7F7F7" >
          <p class="card-header-icon">
            <figure class="image is 12x12" style="position: relative; left:10%">

              <img src="../../../static/chat_icon.png" style="width: 75px; height:auto;">

            </figure>
          </p>
      
          <div class="card-content">
            <h1 class="title is-size-5">
              Latest News
            </h1>
            <div class="block"></div>
            <p class="subtitle" style="color:#858482">
              Mayor Adams Urge Albany to Pass Local Control for Traffic Saftey. “No family should have to suffer the loss of loved one to traffic violence, but that’s what can happen when a speeding car drives through a red light,” said Mayor Adams.
            </p>
            
            
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card is-full-height" style="background-color:#F7F7F7" >
          <p class="card-header-icon">
            <figure class="image is 12x12" style="position: relative; left:10%">

              <img src="../../../static/location_icon.png" style="width: 75px; height:auto;">

            </figure>
          </p>
      
          <div class="card-content">
            <h1 class="title is-size-5">
              About Vision Zero
            </h1>
            <div class="block"></div>
            <p class="subtitle" style="color:#858482">
              In the City of New York, we recognize that deaths and serious injuries in traffic are not inevitable "accidents," but preventable crashes that can be ended through engineering, enforcement, and education.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="column">
      <div class="card is-full-height" style="background-color:#F7F7F7" >
        <div class="card-content">
          <h1 class="title is-size-5">
            Project general description
          </h1>
          <div class="block"></div>
          <p class="subtitle" style="color:#858482">
            Vision Zero is a movement known internationally that aims to eliminate the number of fatalities and life-threatening injuries in car accidents. Focusing on the traffic conditions in NYC, our team will build an interactive route planning website with enhanced safety features based on NYPD accident statistics. The website will alert all en route dangerous intersections and, possibly, do personalized routing. For example, if one user uses a wheelchair, our routing will avoid intersections that are dangerous to wheelchair users according to historical accident data.         
          </p>
          <br/>
          <br/>

        </div>
      </div>
    </div>
  </section>
  
</body>


<%- include('../partials/footer') %>

</html>
