<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body style="height:100%">
  <header>
    <%- include('../partials/nav') %>
  </header>

</body>

<%- include('../partials/footer') %>
</html>