<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body style="height:100%">
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <!-- <div class="container">
    <div class="columns">
      <div class="column is-3 " style="text-align: right;">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a>Feed</a></li>

          </ul>
        </aside>
      </div>
      <div class="column is-4">
        <div class="mb-6">
          <div class="has-text-weight-bold mb-2">
            Share a new post
          </div>
          <form action="/dog-messages" method="post">
            <input class="input" type="text" name="message" placeholder="Went to the dog park today" />
            <button class="button mt-2">Ruff!</button>
          </form>
        </div>
        <div class="feed-stream">
          <%- include('../partials/feed-stream', { feed: feed }) %>
        </div>
      </div>
    </div>
  </div> -->
 
 
  <div id='planner-bg' style="height: 100%;
                          background-image: url('../../../static/planner-background.png'); 
                          background-size: cover">

    <div class="control" style="left: 16%;top: 8%; color: #635E5E;">
      <label class="radio">
        <input type="radio" name="rsvp" style="margin-right: 8px;" checked>
        Driving
      </label>
      <label class="radio">
        <input type="radio" name="rsvp" style="margin-right: 8px;">
        Bicycling
      </label>
      <label class="radio">
        <input type="radio" name="rsvp" style="margin-right: 8px;">
        Transit
      </label>
      <label class="radio">
        <input type="radio" name="rsvp" style="margin-right: 8px;">
        Walking
      </label>
    </div>

    <div id="search-box" style="background-color: #DDDDDD; 
                              opacity: 90%;
                              height: 60px;
                              width: 60%;
                              position: relative;
                              top:10%;
                              left:16%;">

      <input class="input" 
            required type="text" 
            name="start-point"  
            placeholder="Enter your starting point" 
            style="background-color: #DDDDDD; 
                    opacity: 90%; 
                    width: 45%; 
                    height: 60px;
                    margin-left: 5px;
                    margin-right: 10px;
                    " 
            type="text">

      <!-- <div style="border-left: 3px solid #7BB2D9;
                  height: 60px;
                  position: absolute;
                  left: 34%;
                  top: 0%;"></div> -->
      
      <i class="fas fa-arrow-right fas fa-2x" style="padding-top: 15px; 
                                                     color: #7BB6D9;
                                                     margin-left: 10px;"></i>
      

      <input class="input" 
             required type="text" 
             name="destination"  
             placeholder="Enter your destination" 
             style="background-color: #DDDDDD; 
                    opacity: 90%; 
                    width: 45%; 
                    height: 60px;
                    margin-left: 20px;
                    position: relative;" 
             type="text">
             <a href="/sign-in" >
      <a href="/route" class="button is-light" style="top:-85%; 
                                        background-color: #3F8ABE; 
                                        color: #FFFFFF; 
                                        text-align: center; 
                                        position: relative;
                                        left: 101%">
        Search
      </a>
                              
    </div>
  </div>
</div>

</body>

<%- include('../partials/footer') %>
<!-- <script>
  var dropdown = document.querySelector('.dropdown');
  dropdown.addEventListener('click', function(event) {
    event.stopPropagation();
    dropdown.classList.toggle('is-active');
  });
</script> -->

</html>