<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <%- include('../partials/head') %>
</head>

<body style="height:100%">
  <div id='login-bg' style="height: 100%;
                            background-image: url('/login-background.jpg'); 
                            background-size: cover;
                            ">
    <header>
      <%- include('../partials/nav') %>
    </header>
      <div id="login-box" style="background-color: #e5e5e5; 
                                opacity: 90%;
                                height: 50%;
                                width: 25%;
                                position: relative;
                                top:20%;
                                left:37.5%;
                                ">
        <div style="height:80%;
                    width: 80%;
                    position: relative;
                    top:10%;
                    left: 10%">
          <h1 class="title is-4">LOGIN</h1>
          <div>
            <form id="login-form" method="POST">

              <div>
                <input required type="text" name="email" placeholder="Email" class="input"/>
              </div>
              <div style="margin-top: 1em; margin-bottom: 2em">
                <input required type="password" name="password" id="password" placeholder="Password" class="input"/>
              </div>
              <button class="button" style="background-color: #3F8ABE; 
                                            width:100%;
                                            color: #FFFFFF">
                Log In
              </button>
              <div id="login-error">
    
              </div>
              <div style="margin-top: 1em; margin-bottom:2em; font-size: 13px; ">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>

              <div style="text-align: center">
                <p>
                  New to Vision Zero? 
                  <a href="/sign-up" style="color: #3F8ABE;">Sign up now</a>
                </p>
              </div>
            </form>
          </div>
        </div>
        
      </div>
  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyDNk1ZiVcjRiLtD3Xx6qtHk4ZGsb0awdlE",
      authDomain: "vision-zero-606ac.firebaseapp.com",
      projectId: "vision-zero-606ac",
      storageBucket: "vision-zero-606ac.appspot.com",
      messagingSenderId: "99095937222",
      appId: "1:99095937222:web:8b1d6fb82e5a3b666897c7",
      measurementId: "G-9XSR46T84R"
      /*apiKey: "AIzaSyA8_O9cdXxklMl831TZASoZGQRKegLJ6Kk",
      authDomain: "vision-zero-36deb.firebaseapp.com",
      projectId: "vision-zero-36deb",
      storageBucket: "vision-zero-36deb.appspot.com",
      messagingSenderId: "288657947780",
      appId: "1:288657947780:web:b146ec8ff4fd511e9f56d1",
      measurementId: "G-LVLG7MQG6R" */
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const email = event.target.email.value;
        const password = event.target.password.value;
        
        firebase.auth().signInWithEmailAndPassword(email, password)
          .then((userCredential) => {
            const user = userCredential.user;

            // Get the user's ID token as it is needed to exchange for a session cookie.
            user.getIdToken()
              .then(idToken => {
                fetch('/sessionLogin', {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify({idToken}) // add the users ID token here
              }).then(() => {
                window.location.href = '/planner';
              })
            })
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            console.log(errorCode, errorMessage)
          });
        
        return false;
      });
  };
</script>

</html>