
<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <%- include('../partials/head') %>
</head>

<body style="height:100%">
  <div  style="height: 100%;">
    <div id='login-bg' style="height: 100%;
    background-image: url('../../../static/login-background.jpg'); 
    background-size: cover;
    ">
    <header>
      <%- include('../partials/nav', { email: user.email }) %>
    </header>
      <div id="signup-box" style="
                                background-color: #e5e5e5;
                                height: 80%;
                                width: 34%;
                                position: relative;
                                top:10%;
                                left:33%;
                                ">
        <div style="height:80%;
                    width: 80%;
                    position: relative;
                    top:10%;
                    left: 10%">
          <h1 class="title ">Create an user account just by your email and a password</h1>
          <h3 class=" is-6"> We don't need anything else to verify. </h3>
          <h3 class=" is-6"> We hate paperwork, too. </h3>
          
          <div style="margin-top: 1em;">
            <form id="signup-form" method="POST">
              <div >
                <input required type="text" name="email" placeholder="Email" class="input" style="border-color: #7BB6D9;"/>
              </div>
              <div style="margin-top: 1em; margin-bottom: 2em">
                <input required type="password" name="password" placeholder="Password" class="input" style="border-color: #7BB6D9;"/>
              </div>
              <button class="button" style="background-color: #3F8ABE; 
                                            width:100%;
                                            color: #FFFFFF">
                Create account
              </button>
              <div id="signup-error">
    
              </div>

              <div style="text-align: center; margin-top:2em">
                <p>
                  Already have an account? 
                  <a href="/sign-in" style="color: #3F8ABE;">Click to log in</a>
                </p>
              </div>
            </form>
          </div>
        </div>
        
      </div>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyDNk1ZiVcjRiLtD3Xx6qtHk4ZGsb0awdlE",
      authDomain: "vision-zero-606ac.firebaseapp.com",
      projectId: "vision-zero-606ac",
      storageBucket: "vision-zero-606ac.appspot.com",
      messagingSenderId: "99095937222",
      appId: "1:99095937222:web:8b1d6fb82e5a3b666897c7",
      measurementId: "G-9XSR46T84R"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("signup-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const email = event.target.email.value;
        const password = event.target.password.value;

        firebase.auth().createUserWithEmailAndPassword(email, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;
            
            user.getIdToken()
            .then(idToken => {
              fetch('/sessionLogin', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({idToken}) 
            }).then(() => {
              window.location.href = '/planner';
            })
          })
        })
        .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;
          console.log(errorCode, errorMessage)
        });

        return false;
      });
  };
</script>

</html>