<nav class="navbar" rolw="navigation" aria-label="main navigation" style="background-color: #7BB6D9; opacity:0.8">
  <div class="container" >
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title" style="color: #FFFFFF; font-weight:bold">VISION ZERO</h1>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/" >
                <h5 style="color: #FFFFFF">ABOUT</h5>
              </a>
            </div>
            <div class="navbar-item">
              <a href="/sign-in" >
                <h2 style="color: #FFFFFF">ROUTE PLANNER</h2>
              </a>
            </div>
            <% if(locals.email) { %>
              <div class="navbar-item">
                <a href="/planner" >
                  <h2 style="color: #FFFFFF"><%= email %></h2>
                </a>
              </div>
            <% } else { %>
              <div class="navbar-item">
                <a href="/sign-in" >
                  <h2 style="color: #FFFFFF; font-weight: 900">LOGIN</h2>
                </a>
              </div>
            <% }%>
          </div>
        </div>
  </div>
</nav>