<nav class="navbar" rolw="navigation" aria-label="main navigation" style="background-color: #7BB6D9; opacity:0.8">
  <div class="container" >
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <!-- <figure class="image is-3by1">
          <img src="../../../static/logo-black.png" alt="Logo">
        </figure> -->
        <h1 class="title" style="color: #FFFFFF; font-weight:bold">VISION ZERO</h1>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <% if(locals.email) { %>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/planner" class="navbar-item">
            <%= email %>
              <i class="material-icons">person_outline</i>
          </a>
        </div>
      </div>
      <% } else { %>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/sign-in" >
                <h5 style="color: #E5E5E5">ABOUT</h5>
              </a>
            </div>
            <div class="navbar-item">
              <a href="/sign-in" >
                <h2 style="color: #E5E5E5">ROUTE PLANNER</h2>
              </a>
            </div>
            <div class="navbar-item">
              <a href="/sign-in" >
                <h2 style="color: #FFFFFF; font-weight: bold">LOGIN</h2>
              </a>
            </div>
          </div>
        </div>
      <% }%>
  </div>
</nav>