/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  margin-top: 2%;
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  margin-right: 20px;
}

#map {
  margin-top: 3%;
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
  flex: auto;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  height: auto;
}



#sidebar {
  flex: 0 1 auto;
  padding: 0;
}
#sidebar > div {
  padding: 0.5rem;
}

#searchButton {
  background-color: #3f8abe;
  color: #ffffff;
  text-align: center;

}

#search-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:300px;
  height: 400px;
  padding:5%;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  position: absolute;
  top: 150px;
  left: 5%;
}

.address-input{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100%;
  border: solid;
  font-size: 18px;
  padding: 5px;
  border-radius: 20px;
  border-width: 1px;
  position: relative;
}

#searchButton{
  background-color: #D9D9D9;
  color: black;
  text-align: center;
  width: 200%;
  height: 100%;
  border: solid;
  font-size: 18px;
  border-radius: 20px;
  border-width: 1px;
}
